.buttonContainer {
    @apply py-3 px-5 rounded-[100px] w-full text-base font-medium max-h-[40px] hover:scale-105 hover:shadow-md transition-all duration-300 ease-in-out flex justify-center items-center gap-x-1 min-w-[max-content] outline-none min-w-[150px] xs:min-w-[130px] mt-5;
    &.primary {
      @apply bg-primary text-white;
    }
    &.outlined {
      @apply border border-primary text-primary;
    }
    &:disabled {
      @apply bg-[#E5E5E5] text-[#8E8E8E] cursor-not-allowed;
    }
    &.primaryMaxWidth {
      @apply max-w-[max-content] bg-primary text-white;
      &:disabled {
        @apply bg-primary cursor-not-allowed;
      }
    }
    &.outlinedBlack {
      @apply border border-black text-black ;
    }
    &.outlinedMaxWidth {
      @apply max-w-[max-content] border border-primary text-primary;
      &:disabled {
        @apply border border-[#E5E5E5] text-[#8E8E8E] cursor-not-allowed;
      }
    }
   
   
  }