.containerLogin {
    @apply w-full justify-between flex  px-[100px] py-[40px] xs:px-0 xs:py-0 sm:justify-center;
    & .illustrasion {
        @apply w-[50%] sm:hidden ;
       
    }
    & .loginWrapper {
        @apply bg-white w-full max-w-[360px] relative min-h-[500px] xs:min-h-screen xs:max-w-[100%] rounded-[10px] shadow-lg;
        & .background {
            @apply bg-[url('/assets/images/header-login.png')] bg-no-repeat bg-cover bg-center absolute top-0 left-0 w-[120px] h-[128px];
        }
        & .formLogin {
            @apply flex flex-col items-center justify-around w-full h-full gap-y-10;
            & img {
                @apply w-[100px] ;
            }
            & form {
                @apply w-full px-[30px];
                & h4 {
                    @apply heading-4-semibold;
                }
                & .label {
                    @apply paragraph-1-regular;
                }
                & .btnWrapper {
                    @apply flex justify-end;
                }

            }
        }
        & .footer {
            @apply flex flex-col items-center justify-center w-full gap-y-5;
            & p {
                @apply paragraph-1-light;
            }
            & a {
                @apply paragraph-1-regular text-secondary;
            }
        }
        
    }
   
}