.textInputContainer {
    @apply  mt-5;
    & label {
        @apply paragraph-1-light;
    }
    & .wrapperInput {
        @apply w-full border-b-[2px] border-grey;
        & input {
            @apply flex-1 bg-transparent outline-none text-sm py-1 w-full;
            &::placeholder {
                @apply text-grey italic label-1-thin;
            }
        }
       &.error {
            @apply border-red-500;
        }
    }
    & .error {
        @apply text-red-500 label-1-light;
    }
}