.containerDashboard {
    @apply w-full flex flex-col px-[100px] py-[40px];
    & h3 {
        @apply heading-5-semibold;
    }
    & .wrapperDashboard {
        @apply flex gap-5 sm:flex-wrap mt-5;
        & .wrapper {
            @apply bg-white border-l-[20px] border-primary w-[300px] h-[200px] rounded-[10px] shadow-lg flex flex-col justify-center items-center gap-y-2 relative xs:w-full;
            & h3 {
                @apply heading-6-semibold;
            }
            & h1 {
                @apply heading-3-semibold;
            }
        }

    }
    & .wrapperProduct {
        @apply flex flex-col gap-y-5 mt-5;
        & .wrapperTitle {
            @apply flex justify-between items-center;
            & h3 {
                @apply heading-5-semibold;
            }
            & .btn {
                @apply paragraph-1-semibold text-primary;
            }
        }
        & .wrapperCardProduct {
            @apply flex flex-wrap gap-5 justify-between xs:justify-center;
        }
      
    }
}