.dropdownContainer {
    @apply flex gap-x-[20px] items-center w-full;
    & .label {
      @apply font-medium text-[#A3A3A3] w-full max-w-[fit-content];
    }
    & .wrapper {
      @apply border border-[#E5E5E5] rounded-[20px] flex items-center justify-between px-[20px] py-[12px] w-[100%] relative cursor-pointer bg-white;
      & svg {
        @apply transition-all duration-300;
      }
      &.open {
        & svg {
          @apply transform rotate-[-180deg] transition-all duration-300;
        }
      }
      &.variant2 {
        @apply rounded-[10px]
      }
      & .dropdown {
        @apply absolute top-[102%] left-0 w-[100%] bg-white rounded-[20px] shadow-md z-10 overflow-auto max-h-[200px] transition-all duration-300;
        & .item {
          @apply py-2.5 px-4 hover:bg-primary text-primary text-sm; 
          &:hover {
            @apply bg-primary text-white;
          }
          &:first-child, :last-child {
            @apply rounded-t-[20px];
          }
        }
      }
    }
  }