.navbarContainer {
    @apply w-full bg-white;
    & .navbarWrapper {
        @apply w-full flex justify-between items-center px-10 py-5 max-w-[1440px] mx-auto;
        & .navbarLeft {
           & img {
                @apply w-[80px];
           }
        }
        & .navbarRight {
            @apply flex items-center gap-x-2;
            & span {
                @apply paragraph-1-semibold ;
            
            }
            & .avatar {
                @apply w-[40px] h-[40px] rounded-full  bg-primary;
                & img {
                    @apply w-full h-full object-cover rounded-full;
                }
            }
            & .logout {
                @apply bg-red-500 rounded-[10px] px-2.5 py-2 text-white;
            }
        }
        & .navbarContent {
            @apply flex gap-x-3;
            & .link {
                @apply  paragraph-1-semibold hover:scale-105;
                &.active {
                    @apply text-primary scale-105;
                }
            }
        }
    
    }
}