.productContainer {
    @apply w-full flex flex-col px-[100px] py-[40px] xs:px-5;
    & h1 {
        @apply heading-6-semibold mb-5;
    }
    & .productWrapper {
        @apply flex flex-wrap gap-5 justify-between xs:justify-center;
        & svg {
            @apply fill-primary;
        }
    }
    & .productFilter {
        @apply flex gap-5 justify-between items-center my-5 xs:flex-col xs:gap-2 ;
        
    }
    & .loading {
        @apply h-[300px] flex justify-center items-center;
        & svg {
            @apply fill-primary;
        }
    }
}


.detailProductContainer {
    @apply flex gap-40 justify-center px-[100px] py-[40px] xs:px-5;
    & .imagesWrapper {
        @apply  w-[400px]  ;
        & .imageActive {
            @apply flex object-cover h-[400px] bg-white shadow-lg rounded-[20px] mb-2;
            & img {
                @apply w-full h-full rounded-[20px] object-cover;
            }
        }
        & .imageDotsWrapper {
            @apply flex gap-x-2;
            & .image {
                @apply shadow-md object-cover flex h-[50px] w-[50px] bg-white hover:scale-110 cursor-pointer;
                & img {
                    @apply w-full h-full object-contain 
                }
            
            }
        }
    }
    & .productWrapper {
        & h1 {
            @apply heading-4-medium;
        }
        & h2 {
            @apply heading-4-bold;
        }
        & .normalPrice {
            @apply heading-5-medium text-[#8E8E8E] line-through;
        }
        & h3 {
            @apply heading-5-medium mt-5;
        }
        & p {
            @apply paragraph-1-semibold;
        }
        & .btnWrapper {
            @apply w-full flex gap-2 mt-8;
            & .edit {
                @apply bg-primary py-2.5 rounded-[10px] px-4 text-white;
            }
            & .delete {
                @apply bg-red-500 py-2.5 rounded-[10px] px-4 text-white
            }
        }
    }
    

}
