.cardProductContainer {
    @apply w-[230px] h-[250px] bg-white rounded-[10px] shadow-lg flex flex-col rounded-[10px] overflow-hidden xs:w-[150px] cursor-pointer;
    & .cardProductImage {
        @apply w-full h-[110px] ;
        & img {
            @apply w-full h-full object-cover;
        }
    }
    & .cardProductInfo {
        @apply p-2;
        & .title {
            @apply paragraph-1-regular line-clamp-2
        }
        & .price {
            @apply paragraph-1-semibold;
        }
        & .discount {
            @apply flex items-center gap-x-1;
            & .normalPrice {
                @apply paragraph-1-regular line-through text-[#8E8E8E];
            }
            & span {
                @apply paragraph-1-semibold text-red-500;
            }
        }
    }
}