.searchBoxContainer {
    @apply flex items-center border border-[#E0E0E0] rounded-[10px] bg-white pl-2 w-full;
    & input {
        @apply flex-1 bg-white outline-none border-none bg-transparent text-sm py-1 w-full;
        &::placeholder {
            @apply text-grey italic label-1-thin;
        }
    }
    & .btnSearch {
        @apply px-2 py-1 rounded-[10px] bg-primary text-white h-[40px];
    }
}